@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}
body{
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    background: #011212;
    /* min-height: 1500px; */
}
header{
    width: 95%;
    /* margin-top: 10vh; */
    /* height: 10vh; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
}

#sound{
    padding: 2px;
    padding-right: 4px;
    width: min-content;
    position: relative;
    border: 2px solid #08fdd8;
    border-radius: 7px;
    display: flex;
    align-items: center;
    color: #fff;

}
#page2{
    /* margin-top: 15; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004242;
    background: linear-gradient(to bottom, #004242, #011212, transparent) ;
}
.sound-cloud{
    font-size: 1.2rem;
    margin: 7px;
    color: #007F80;
}
.on-off{
    cursor: pointer;
    margin-left: 5px;
}
#off{
    color: #007f80;
}
#on{
    display: none;
    color: #08fdd8;
}


/* hereeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee for the scroll scroll */

section{
    position: relative;
    width: 100%;
    height: 95vh;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    scroll-snap-align: start;
    
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    
}

section:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #004242, #011212, transparent) ;
    z-index: 1000;
}
section:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #004242 ; */
    z-index: 5;
    mix-blend-mode: color;
}
#keyboard{
    z-index: 5;
}
#bg
{
    width: 160px;
    height: 160px;
left: 75%;

filter:saturate(90%);

}#tri
{
    width: 168px;
    height: 136px;
left: 79%;

top: 20%;
filter: brightness(100%);
filter: contrast(100%);
}
#square
{
filter: blur(90%);
filter: brightness(100%);
filter: drop-shadow(100%);
    width: 120px;
    height: 120px;
    margin-top: 13%;
left: 70%;
}
#text{
    margin-left: 8rem;
    position: relative;
    color: #fff;
    margin-top: 8%;
    font-size: 16.2rem;
    z-index: 2;
}

/* Hereeeee page 2 */
#name{
    position: absolute;
    color: #fff;
    margin-top: 72%;
    margin-left: 9rem;
    font-size: 5rem;
    z-index: 2;
}
#cir{
    position: absolute;
    /* margin-top: 9.3%;
    margin-left: 50%; */
    height: 340px;
}
#me{
    position: absolute;
    margin-top: 3rem;
    border: 2px solid #08fdd8;
    border-radius: 50%;
    margin-left: 30%;
    height: 380px;
    
}
#he{
    position: relative;
    font-size: 90px;
    right: 0%;
    margin-left: 67%;
    color: #004242;
}
#owla{
    position: relative;
    width: 290px;
    padding: 4.5px;
    align-self: center;
}
#bea{
    position: relative;
    width: 290px;
    padding: 6px;
    background-color: #Fff;
    align-self: center;
}
#risc{
    position: relative;
    width: 230px;
    padding: 6px;
    background-color: #Fff;
    align-self: center;
}
#sl{
    position: relative;
    width: 180px;
    padding: 6px;
    background-color: #Fff;
    align-self: center;
}
.circle{
    position: absolute;
    margin-top: 7.3%;
    margin-left: 47.7%;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    /* background: #ccc; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame{
    position: absolute;
    width: 350px;
    height: 350px;
    background: url(img.jpg);
    background-size: cover;
    border-radius: 30%;
}
.click{
    position:absolute;
    width: 100%;
    height: 100%;
    animation: rotateText 17s linear infinite;
}
@keyframes rotateText{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.click span{
    position: absolute;
    left: 50%;
    font-size: 1.2em;
    transform-origin: 0 200px;

}

#ctsc{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
    
}
/* Popup */
.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: none;
}
.popup .content{
    text-align: left;
    font-size: 25px;
    position: absolute;
    top: 160.5%;
    left: 7rem;
    transform: translate(-50%, -50%) scale(0);
    background: #0badad;
    color: #ffffff;
    width: 322px;
    height:  300px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.popup .content2{
    
    position: absolute;
    top: 135%;
    left: 29.2%;
    transform: translate(-30%, -50%) scale(0);
    width: 320px;
    height:  0.01px;
    z-index: 2;
    box-sizing: border-box;

}
.popup .close-btn{
    cursor: pointer;
    position: absolute;
    right: 3px;
    top: 6px;
    background: #d6d6d6;
    width: 20px;
    height: 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    border-radius: 50%;
    color: #363636;
    text-align: center;
    align-content: center;

}
.popup.active .overlay{
    display: block;

}
.popup.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}
.popup.active .content2{
    transition: all 300ms ease-in-out;
    transform: translate(-70%, -80%) scale(0.355);
}
#arrow{
    position: absolute;
    width: 80px;
    transform: rotate(135deg);
    opacity: 50%;
    margin-top: 27%;
    margin-left: 33.5%;
}
/* Projects */
ul{
    
    margin: 0;
    padding: 0;
    display: flex;
    border-radius: 7%;
    border-color: #08fdd8;
    margin-left: 1%;
    margin-right: 39rem;
    margin-top: 1%;
    margin-bottom: 3%;
}
ul li{
    position: relative;
    list-style: none;
    width: 20px;
    height: 20px;
    background:#007F80;
    border-radius: 2%;
    margin: 0 10px;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}
ul li:hover{
    background: #08fdd8;
    
    box-shadow: 0 0 0 4px #004242 ,
                0 0 0 6px #08fdd8 ;
}
ul li .list{
    position: absolute;
    bottom: 55px;
    width: 320px;
    padding: 20px;
    background: #235c64;
    box-sizing: border-box;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transform: translateX(-58%) translateY(-50px) ;
}
ul li:hover .list{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    transform: translateX(-47%) translateY(0px) ;
}
ul li .list:before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: #235c64;
    bottom: -15px;
    left: 145px;
    transform: rotate(45deg);
}

ul li .list h2{
    margin: 0;
    padding: 0;
    
}

/* Screen Loader */
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;

                         /******** <- Remove this line *********/
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
@keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }
.preload {overflow: hidden;}


#myproj{
    position: relative;
    margin-bottom: 10%;
    margin-left: 4.3rem;
    font-size: 3.3rem;
    font-family: courier ;
    color: #007F80;
}
#credit{
    visibility: hidden;
    position: absolute;
    margin-top: 19%;
    left: 9rem;
    font-size: 1.7em;
    font-family:'Courier New', Courier, monospace ;
    font-weight: 50;
    font-style: italic;
    color: rgb(169, 169, 169);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

#desc{
    position: absolute;
    margin-top: 15%;
    left: 9rem;
    font-size: 2.3em;
    font-weight:100;
    font-family: helvetica;
    color: rgb(169, 169, 169);
}


@media only screen and (max-width:1440px){
    section{
        width: 100%;
        height: 90vh;        
    }
    #myproj{
        margin-top: 0%;
        font-size: 4rem;
        margin-left: 5rem;
    }
    #desc{
        left: 9rem;
        font-size: 2.7em;
    }
    #credit{
        left: 9rem;
        font-size: 1.9em;
    }
    #text{
        font-size: 18rem;
    }
    #name{
        margin-top: 70%;
        margin-left: 9rem;
        font-size: 6rem;
        z-index: 2;
    }
}

@media only screen and (max-width:1280px){
    section{
        width: 100%;
        height: 95vh;        
    }
    #myproj{
        margin-top: 0%;
        font-size: 2.8rem;
        margin-left: 9rem;

    }
    ul{
        margin-left: 2%;
        margin-top: 1%;
        /* margin-bottom: 3%; */
    }
    #desc{
        left: 9rem;
        font-size: 2.3em;
    }
    #name{
        margin-top: 65%;
        margin-left: 9rem;
        font-size: 4.9rem;
    }
    #text{
        font-size: 15rem;
    }
    
}

/* @media only screen and (max-width:1280px){
    #myproj{
        font-size: 2.68rem;
        margin-left: 7rem;
    }
    ul{
        margin-left: 2%;
        margin-top: 1%;
        
    }
    #desc{
        left: 9rem;
        font-size: 2em;
    }
    #credit{
        left: 9rem;
        font-size: 1.4em;
    }
    #name{
        margin-top: 65%;
        margin-left: 9rem;
        font-size: 4.9rem;
        z-index: 2;
    }
} */


@media only screen and (max-width:600px){
    #text{
        /* margin-left: 7%;
        position: relative;
        color: #fff;
        margin-top: 5.4%; */
        font-size: 3rem;
        z-index: 2;
    }
}

@media only screen and (max-width:820px){
    #text{
        
        font-size: 5rem;
       
    }
    #name{
        margin-left: 7.7%;
        margin-top: -2%;
        font-size: 2.3em;
    }

}

